{% extends 'base/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <h1>Create New Todo</h1>
    <div style="padding: 20px;">
        <form enctype="multipart/form-data" method="post" >
            {% csrf_token %}
            {{form|crispy}}
            <div>
                Due Date: <input type="datetime-local" name="dueDate"></input> 
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>




    {% block scripts %}
        <script type="text/javascript"> 
            $(function(){
                $("#dueDate").datetimepicker();
            });
        </script>
        
        <script> 
            $("#id_label").select2()
        </script>

    {% endblock %}
{% endblock %}
